<?xml version='1.0' encoding='utf-8'?>
<widget id="com.souqna.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>سوقنا العقاري</name>
    <description>تطبيق سوق العقارات والمصانع والمعدات الثقيلة</description>
    <author email="support@souqna.com" href="https://souqna.com">فريق تطوير سوقنا</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xffffffff" />
</widget>
