@import "tailwindcss";

@theme {
  --font-sans: "Cairo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: var(--font-sans);
  }
}

.rtl {
  direction: rtl;
}
